body {
    margin: 0px;
    padding: 0px;
    background: #000000d5;
    color: #FFF;
}

p, ol, ul {
    margin-top: 0;
}

p {
    line-height: 180%;
}

.container {
    overflow: hidden;
}

/* ************* titles ************* */
.title {
    margin-bottom: 3em;
}

.title h2 {
    font-size: 2.7em;
}

/* ************* header ************* */
#header-wrapper {
    position: relative;
    padding: 5em 0em 20em 0em;
    background: gray url(../images/flight.jpg) no-repeat center;
    background-size: cover;
}

#wrapper {
    position: relative;
    padding: 2em 0em 5em 0em;
    background: #FFF;
}

#header {
    position: relative;
    padding: 5em 0em;
}

/* ************* logo ************* */
#logo {
    position: absolute;
    top: 0.2em;
    /* left: 0; */
}

#logo a {
    text-decoration: none;
    color: black;
    padding-left: 100px;
}

#logo:hover a {
    color: rgba(0, 0, 0, 0.712)
}

/* ************* menu ************* */
#menu {
    position: absolute;
    top: 4.5em;
    right: 0;
    padding-right: 80px;
    top: 2em;
}

#menu ul {
    display: inline-block;
}

#menu li {
    display: block;
    float: left;
    text-align: center;
}

#menu li a, #menu li span {
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8em;
    color: black;
}

#menu li:hover a {
    color: white;
}

/* ************* copyright ************* */
#copyright {
    padding: 1em 0em 0em;
    border-top: 1px solid rgba(0,0,0,0.08);
}

#copyright p {
    text-align: center;
    font-size: 0.8em;
    color: rgba(255,255,255,0.3);
}